body
{
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #818cf8;
    color: white;
}

.header
{
    width: 100%;
    height: 60px;
    background-color: #4f46e5;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header p, .notes-header p
{
    margin-left: 50px;
    font-size: 36px;
}

.main-body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.notes-header
{
    background-color: #4f46e5;
    height: min-content;
    width: 100%;
    height: 60px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.notes-main
{
    background-color: white;
    width: 100%;
    display: flex;
}

.notes-pages
{
    background-color: #818cf8;
    width: 15%;
    min-height: 100%;
    outline: black solid 3px;
}

.notes-page
{
    background-color: black;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes-content
{
    background-color: #818cf8;
    width: 85%;
    height: fit-content;
    min-height: 200px;
    outline: black solid 3px;
}

.notes-note
{
    background-color: #2e1065;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    gap: 20%;
    height: max-content;
    margin-top: 25px;
}

.notes-title, .notes-description, .notes-date
{
    word-wrap: break-word;
    overflow: hidden;
}

.notes-title
{
    width: 60%;
    margin-left: 25px;
}

.notes-date
{
    background-color: white;
    color: black;
    width: 25%;
}

.notes-priority
{
    width: 10%;
    margin-right: 10px;
}

.notes-note button
{
    width: 5%;
    margin-right: 25px;
}

.notes-form
{
    margin-top: 25px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notes-hidden
{
    height: 100px;
    width: 100%;
    background-color: lightgoldenrodyellow;
    color: black;
    margin-bottom: 25px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.notes-hidden button:nth-last-child(1)
{
    margin-right: 25px;
}

.notes-description
{
    width: 90%;
    margin-left: 25px;
}

#notesForm
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 5px;
}

#notesForm *
{
    width: 15%;
    text-align: center;
}

#description
{
    width: 30%;
    height: 50px;
    resize: none;
}

#notesForm button
{
    width: 10%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.footer
{
    background-color: #4f46e5;
    width: 100%;
    margin-bottom: 0;
}

.footer p
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min-content;
}
